{% extends 'layout.html' %}

{% block content %}

<div class="row">
  <div class="span3">
    <h1>Chats</h1>
      
    <ul class="unstyled sidenav">
      {% for chat in chats %}
      <li>
        <a href="{{ chat.guid | e }}.html">
          <i class="icon-chevron-right"></i> {{chat.handles}}
          <span> ({{chat.msg_count}})<br>{{chat.last_msg.text}}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="span9">
    {% block conversation %}
    <h1 class="lead muted">Choose a conversation on the left</h1>
    {% endblock %}
  </div>

{% endblock %}
